
/* Mobile */

@media (max-width: 768px) {
    .layout__grid {
      grid-template-columns: 0fr 1fr !important;
      height: 100%;
    }
  
    .layout__grid > div:first-child {
      overflow: hidden !important;
      padding: 0 !important;
    }
  
    input[type=text] {
      font-size: 26px;
      padding: 40px 20px;
    }

    .algorithm-choices {height: auto !important;}
    .algorithm-choice {padding: 10px 0}
    .algorithm-choice > h3 {margin-bottom: 2px}
    .algorithm-choice > p {padding: 0 10px;font-size:12px;}
    .expand-button {width: 100%}

    .login-title {
      font-size: 62px !important;
      width: 100vw;
      top: 10% !important;
      left: 0 !important;
      text-align: center;
      transform: translate(0,0) !important;
    }

    .login-title svg {display: none}

    .login-title h1 {
      font-size: 62px !important;
    }

    .login-title span {
      width: 100%;
      text-align: center;
      transform: translateY(5px);
      left: 0;
    }

    .login-button p {
      font-size: 22px !important;
      width: 100%;
      text-align: center;
    }

  .player__now-playing__container {
      margin-top: 20px !important;
  }

  .player__now-playing__container > p {font-size: 10px}
  .player__now-playing__title h1 {font-size: 18px}
  .player__now-playing__title h4 {font-size: 16px}
  .player__cover-art {height: 150px; width: 150px; margin: 10px auto;}
  .player__controllers {margin-top: 15px}

  }

  .cover {background-size: contain !important}

  /* Tablet */

  @media(max-width: 1200px) {

    .stats__container {
        padding: 10px 0;
    }

    .statistics__stat {
        border: none;
        padding: 0 5px;
    }

    .statistics__stat__header {
        font-size: 24px;
    }

    .playlist__name {
        font-size: 22px;
    }

    .media__links {
        margin: 5px;
    }

    .media-link {
        font-size: 24px;
        padding: 0 10px;
    }

    .no-context {transform: scale(3) translate(-20%, -80%)}
}

/* Mozilla specific fixes */
@-moz-document url-prefix() {
  .side-playlist__container {
    overflow-y: hidden;
  }
}