/*
* Splashscreen
*/

.splash-screen {
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform var(--transition);
    transform: translateY(calc(100% + 60px));
    background: rgba(0,0,0,1);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.splash-screen__grid {
    background: linear-gradient(rgba(0,0,0,0), transparent, transparent);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
}

/*
* Statistics
*/

.stats__container {
    background: rgba(0,0,0,.5);
    border-bottom: 1px solid white;
    padding: 30px 0;
}

.playlist__name {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: hsl(0, 0%, 100%);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.statistics__stat {
    cursor: pointer;
    padding: 0 25px;
    position: relative;
}

.statistics__stat__header {
    color: var(--spotify-green);
    font-size: 46px;
    font-weight: 600;
}

.statistics__stat__tooltip {
    color: hsl(0, 0%, 80%);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.statistics__stat:hover .statistics__hidden-list {display: initial}
.statistics__hidden-list {
    cursor: initial;
    display: none;
    background: linear-gradient(#111, #222);
    border: 1px solid white;
    text-align: left;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 123;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.statistics__hidden-list__list-item {
    margin: 2px 0;
    white-space: nowrap;
    letter-spacing: 1px;
    list-style: none;
}

/* Grid Borders */
:root {
    --border: 2px solid hsla(141,73%,60%,.3);
}

.statistics__stat {border-left: var(--border)}
.statistics__stat:first-child {border: none}

/*
* Player
*/

.player {
    position: relative;
    height: 100%;
    width: 100%;
}

.player__container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.player__cover-art {
    height: 250px;
    width: 250px;
    background-size: cover !important;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
}

/* SLIDER TESTING */

.timestamp {
    position: absolute;
    color: hsla(0, 0%, 100%, .6);
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 100%;

}

.timestamp input {
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    height: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,.6);
}

.timestamp input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background: var(--spotify-green);
    cursor: pointer; /* Cursor on hover */
}

/* */

.player__now-playing {
    text-align: center;
}

.player__now-playing__container {
    transition: 1.1s;
    margin-top: 120px;
}

.player__now-playing p {
    color: hsl(0, 0%, 70%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.slide {
    animation: slide .5s forwards 1;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in-bounce {
    opacity: 0;
    animation: fade-in-bounce .5s forwards 1;
    animation-delay: .2s;
}

@keyframes fade-in-bounce {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.player__now-playing__title h1 {
    font-size: 42px;
}

.player__now-playing__title h4 {
    color: hsl(0, 0%, 80%);
    font-size: 22px;
    font-weight: 400;
}

.player__controllers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player__controller {
    color: hsla(0, 0%, 100%, .6);
    transition: .05s;
}

.player__controller:hover {
    color: hsla(0, 0%, 100%, 1);
}

.player__controllers button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 32px;
    padding: 10px;
    margin: 0 10px;
}

.player__controllers button:focus {
    outline: none;
} 

/* Play/Pause Button */
.player__play-state {
    color: hsl(0, 0%, 90%);
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border: 2px solid hsl(0, 0%, 90%) !important;
    transform-origin: center;
    opacity: 0;
}

.play-button:hover {
    color: var(--spotify-green);
    border: 2px solid var(--spotify-green) !important;
    background: hsla(141,73%,42%,.2);
}

.pause-button:hover {
    color: red;
    border: 2px solid red !important;
    background: rgba(255,0,0,.2);
}


/* No Context */

.no-context {
    animation: none;
    background: hsla(141,73%,42%,.2) !important;
    opacity: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: scale(5) translate(-5%, -50%);
    color: var(--spotify-green);
    border: 2px solid var(--spotify-green) !important;
    transition: all .2s, transform 1.1s;
}

.no-context:hover {
    background: hsla(141,73%,42%,.4) !important;
}

.no-context:hover {

} 


/*
* Media links
*/

.media__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px 0;
}

.media-link {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 0 15px 5px 15px;
    font-size: 30px;
}

.media-link:hover {
    border-bottom: 2px solid var(--spotify-green);
}

.media-link:active {
    transform: scale(0.95);
}

.error-msg {
    text-align: center;
    margin-top: 10px;
    color: hsla(0,0%,100%,.7);
    font-size: 22px;
}