@import './styles/playlist.css';
@import './styles/sideplaylist.css';
@import './styles/mobile.css';

.login-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 100vw;
}

.login-button path:first-child {
  fill: var(--spotify-green) !important;
}

.login-title {
  color: var(--spotify-green);
  font-size: 100px;
  text-align: center;
  position: absolute;
  top: calc(50% - 350px);
  left: 50%;
  transform: translate(-50%, 0%);
}

.login-title > span {
  position: absolute;
  font-size: 20px;
  opacity: .7;
}

.login-button > h4 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: hsla(0,0%,100%, .6);
  font-weight: 400;
  font-size: 24px;
}



@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.layout__grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}