@import './styles/playlist.css';
@import './styles/sideplaylist.css';
@import './styles/weeklybutton.css';
@import './styles/splashscreen.css';
@import './styles/mobile.css';

.login-button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100vw;
}

.login-button > p {
  font-size: 42px;
  color: hsl(0,0%,70%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(calc(-50% - 125px), 0%);
}

.login-title path:first-child {
  fill: var(--spotify-green) !important;
}

.login-title svg {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(105%, -25%);
}

.login-title > h1 {
  color: var(--spotify-green);
  font-size: 100px;
  text-align: center;
}

.login-title span {
  position: absolute;
  font-size: 20px;
  opacity: .7;
}

.login-button > h4 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: hsla(0,0%,100%, .6);
  font-weight: 400;
  font-size: 24px;
}

.layout__grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.fa, .fa::before, .fa::after { font-family: FontAwesome !important }